*.iml
.gradle
/local.properties
/.idea/compiler.xml
/.idea/caches
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*/Pods
*.podspec
